.value_block
		{
			display: inline-block;
			width: 320px ;
			padding: 15px;
			height:180px;
		}


/*Special Corresponds*/
.spe-cor {
  position: relative;
  background: #FFF;
}
.spe-cor .carousel-correspondence [class*="cloneditem-"] {
  display: none;
}
.spe-cor .carousel-inner {
  margin-bottom: 20px;
}
.spe-cor h4.title {
  padding-top: 25px;
  padding-bottom: 10px;
}
.spe-cor .thumbnail img {
  border-radius: 50%;
  border: 1px solid #DDD;
}
.spe-cor .thumbnail {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px;
  height: auto;
  position: relative;
  border: none;
  overflow: hidden;
}
.spe-cor .thumbnail:hover, .spe-cor .thumbnail:active, .spe-cor .thumbnail:focus {
  background: #FFF;
}

.spe-cor .thumbnail:hover:after, .spe-cor .thumbnail:active:after, .spe-cor .thumbnail:focus:after {
  left: 0%;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  -moz-transition: 1s;
}
.spe-cor .thumbnail .caption {
  padding: 0;
}
.spe-cor .thumbnail .caption h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 0.8;
}
.spe-cor .thumbnail .caption h3 > a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #555;
  line-height: 0.8;
  text-transform: uppercase;
}
.spe-cor .thumbnail .caption h3 > a:hover, .spe-cor .thumbnail .caption h3 > a:active, .spe-cor .thumbnail .caption h3 > a:focus {
  color: #005fb1;
  text-decoration: none;
}
.spe-cor .thumbnail .caption p.cate-para {
  margin-bottom: 0px;
  text-align: center;
}
.spe-cor .thumbnail .caption p.cate-para > a, .spe-cor .thumbnail .caption p.cate-para > a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
}

.spe-cor .thumbnail .caption span.date, .spe-cor .thumbnail .caption span.comment {
  margin-bottom: 0;
}
.carousel-correspondence .carousel-control.left, .carousel-correspondence .carousel-control.right, .carousel-video-thumb .carousel-control.left, .carousel-video-thumb .carousel-control.right {
  background-image: none !important;
  color: #c0c0c0;
  height: 35px;
  width: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.carousel-correspondence .carousel-control.left:hover, .carousel-correspondence .carousel-control.right:hover, .carousel-video-thumb .carousel-control.left:hover, .carousel-video-thumb .carousel-control.right:hover {
  color: #FFF;
  background: #9C27B0;
}
.carousel-correspondence .controls, .carousel-video-thumb .controls {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 75px;
  padding-right: 15px;
  padding-left: 15px;
  background: none;
  top: 0;
  right: 0;
  margin-top: -40px;
  height: 35px;
}
.carousel-correspondence .carousel-control, .carousel-video-thumb .carousel-control {
  color: #fff;
  padding: 0px;
  padding-top: 3px;
  color: #428BCA;
  bottom: auto;
  width: 35px;
  height: 35px;
  text-shadow: none;
  opacity: 1;
  top: 0;
}
.carousel-correspondence .carousel-control:hover, .carousel-video-thumb .carousel-control:hover {
  color: #d9534f;
}
.carousel-correspondence .carousel-control.left, .carousel-correspondence .carousel-control.right, .carousel-video-thumb .carousel-control.left, .carousel-video-thumb .carousel-control.right {
  background-image: none !important;
}
.carousel-correspondence .carousel-control.right, .carousel-video-thumb .carousel-control.right {
  left: auto;
}
.carousel-correspondence .carousel-control.left, .carousel-video-thumb .carousel-control.left {
  right: auto;
}
.carousel-correspondence .carousel-indicators, .carousel-video-thumb .carousel-indicators {
  bottom: -30px;
}
.carousel-correspondence .carousel-indicators li, .carousel-video-thumb .carousel-indicators li {
  border-radius: 0;
  width: 10px;
  height: 10px;
  background: #ccc;
  border: 1px solid #ccc;
}
.carousel-correspondence .carousel-indicators .active, .carousel-video-thumb .carousel-indicators .active {
  width: 12px;
  height: 12px;
  background: #3276b1;
  border-color: #3276b1;
}

/*================================================*/

/*Correspondece Slider*/
@media all and (min-width:768px) {
	.carousel-correspondence .carousel-inner > .active.left, .carousel-correspondence .carousel-inner > .prev {
		left: -50%;
	}
	.carousel-correspondence .carousel-inner > .active.right, .carousel-correspondence .carousel-inner > .next {
		left: 50%;
	}
	.carousel-correspondence .carousel-inner > .left, .carousel-correspondence .carousel-inner > .prev.right, .carousel-correspondence .carousel-inner > .active {
		left: 0;
	}
	.carousel-correspondence .carousel-inner .cloneditem-1, .carousel-correspondence .carousel-inner .cloneditem-2 {
		display: block;
	}
}
@media all and (min-width:768px) and (transform-3d), all and (min-width:768px) and (-webkit-transform-3d) {
	.carousel-correspondence .carousel-inner > .item.active.right, .carousel-correspondence .carousel-inner > .item.next {
		-webkit-transform: translate3d(33.333%, 0, 0);
		transform: translate3d(33.33%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.active.left, .carousel-correspondence .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-33.333%, 0, 0);
		transform: translate3d(-33.333%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.left, .carousel-correspondence .carousel-inner > .item.prev.right, .carousel-correspondence .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width:992px) and (max-width:1200px) {
	.carousel-correspondence .carousel-inner > .active.left, .carousel-correspondence .carousel-inner > .prev {
		left: -25%;
	}
	.carousel-correspondence .carousel-inner > .active.right, .carousel-correspondence .carousel-inner > .next {
		left: 25%;
	}
	.carousel-correspondence .carousel-inner > .left, .carousel-correspondence .carousel-inner > .prev.right, .carousel-correspondence .carousel-inner > .active {
		left: 0;
	}
	.carousel-correspondence .carousel-inner .cloneditem-2, .carousel-correspondence .carousel-inner .cloneditem-3 {
		display: block;
	}
}
@media all and (min-width:992px) and (transform-3d), all and (min-width:992px) and (-webkit-transform-3d) {
	.carousel-correspondence .carousel-inner > .item.active.right, .carousel-correspondence .carousel-inner > .item.next {
		-webkit-transform: translate3d(16.666%, 0, 0);
		transform: translate3d(25%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.active.left, .carousel-correspondence .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-16.666%, 0, 0);
		transform: translate3d(-25%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.left, .carousel-correspondence .carousel-inner > .item.prev.right, .carousel-correspondence .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width:1200px) {
	.carousel-correspondence .carousel-inner > .active.left, .carousel-correspondence .carousel-inner > .prev {
		left: -16.666667%;
	}
	.carousel-correspondence .carousel-inner > .active.right, .carousel-correspondence .carousel-inner > .next {
		left: 16.666667%;
	}
	.carousel-correspondence .carousel-inner > .left, .carousel-correspondence .carousel-inner > .prev.right, .carousel-correspondence .carousel-inner > .active {
		left: 0;
	}
	.carousel-correspondence .carousel-inner .cloneditem-2, .carousel-correspondence .carousel-inner .cloneditem-3, .carousel-correspondence .carousel-inner .cloneditem-4, .carousel-correspondence .carousel-inner .cloneditem-5, .carousel-correspondence .carousel-inner .cloneditem-6 {
		display: block;
	}
}
@media all and (min-width:1200px) and (transform-3d), all and (min-width:1200px) and (-webkit-transform-3d) {
	.carousel-correspondence .carousel-inner > .item.active.right, .carousel-correspondence .carousel-inner > .item.next {
		-webkit-transform: translate3d(16.666667%, 0, 0);
		transform: translate3d(16.666667%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.active.left, .carousel-correspondence .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-16.666667%, 0, 0);
		transform: translate3d(-16.666667%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.left, .carousel-correspondence .carousel-inner > .item.prev.right, .carousel-correspondence .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

/*Correspondece Slider Ends*/


	.about_section
	{
		position: absolute;
		top: 40vh;
		width: 100%;
	}
	.about_section_heading
	{
	font-size:40px; 
	color: #ffffff;
	font-family: Montserrat;
	}
	.about_section_text
	{
	font-size: 18px;
	font-family: lato; 
	color: #ffffff;
	line-height: 25px;
	font-weight:300;
	}
.main-nav > li > a:hover
{
background-color:transparent !important;
}

@media all and (min-width:0) and (max-width:767px) {
	.about_image
	{
		    top: 48px;
    position: relative;
	}
	.our_core_value
	{
	margin-top: 48px;
	}

}

@media all and (min-width:0) and (max-width:600px) {
	.about_section
	{
		top: 8vh;   
	}
	.about_section_heading
	{
	font-size:30px;
	}

}
@media all and (min-width:0) and (max-width:400px) {
	.about_section_text
	{
		 line-height: 16px;
	}
	.break
	{
	
	}
}

.eligibility_details
{
display:inline-block;
 margin:0px;
 font-size: 13px;	
 margin-bottom: 8px;
 margin-top: 8px;
}
.eligibility_heading
{

    display: inline-block;
    font-size: 16px;
    top: -8px;
    position: relative;
    margin-bottom: 6px;
    margin-top: 24px;
}
.eligibility_view_details
{
font-size: 13px;
display:inline-block;
    padding-right: 40px;
	margin:0px;
	margin-top: 17px;
	font-family: lato;
	float:right;
}
p
{
    font-family: lato;
}
@media all and (min-width:0) and (max-width:705px) {
	.eligibility_details
	{
		display:none !important;
	}
}
@media all and (min-width:0) and (max-width:459px) {
	.eligibility_view_details
	{
		display:none !important;
	}
}


/* JOB OPEN COLLAPSIBLE STYLE START HERE */


	
.accordion {
    border: 1px solid #c5c5c5 !important;
    background-color: transparent;
    color: #444;
    cursor: pointer;
   /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #f1f1f1;
}

.accordion:after {
  content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    background-color: #9C27B0;
    border-radius: 50%;
    height: 27px !important;
    position: absolute;
   
    width: 27px !important;
    right: 27px;
    padding-left: 8px;
    font-size: 18px;
    margin-top: 13px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	    box-shadow: none !important;
}

.panel {
    margin-bottom: -6px;
	border:none;
	}
	
	button, input, optgroup, select, textarea {
    margin: 2px !important;
   
}
/* JOB OPEN COLLAPSIBLE STYLE END HERE  */